<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>second.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9A07C6001F4A706E008946CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A07C6141F4A706F008946CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A07C61F1F4A706F008946CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
